/* admin-content-left */
.admin-content-left {
    margin-top: 24px;
}

.admin-content-left ul {
    list-style: none;
    padding-left: 16px;
}

.admin-content-left > ul > li {
    margin-bottom: 20px;
}

.admin-content-left > ul > li > a {
    font-weight: bold;
}

.admin-content-left > ul > li > ul > li{
    padding: 2px 8px;
}

.admin-content-left li a {
    text-decoration: none;
    color: rgba(215, 219, 223, 0.9);
}

.admin-content-left ul li.active {
    background-color: #14668f;
    border-radius: 4px;
}

.admin-content-left ul ul li.active a {
    color: white;
}

.admin-content-right__add input[type="text"], select {
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}

/* admin-content-right */

.admin-content-right {
    margin: 32px;
}

.admin-content-right-category__add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: brown;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.admin-content-right__add button:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}

table {
    border-collapse: unset;
    text-align: center;
    width: 100%;
}

table, th, td {
    border: 1px solid;
}

table img {
    width: 100px;
}

/* Modal bill-show */
.ct-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.ct-modal-content {
    background-color: #fff;
    margin: 56px 20vw auto 40vw;
}

.ct-modal-content .button {
    float: right;
}

.ct-modal p {
    clear: both;
}

.ct-modal .button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ct-modal .button:hover,
.ct-modal .button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ct-container {
    padding: 0 16px;
}

.profile label {
    font-weight: bold;
}

.profile p {
    margin: 12px 0;
}

.profile input, textarea {
    width: 100%;
}

#layoutSidenav #layoutSidenav_content {
    display: block;
    margin: 16px;
}